#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.jacquard-12-regular {
  font-family: "Jacquard 12", system-ui;
  font-weight: 400;
  font-style: normal;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Jacquard 12", system-ui;
}

h2, h3, p{
  font-family: "Jersey 10", sans-serif;
}

.card {
  padding: 1rem;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
  height: 400px;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  width: 100%;
}
.card a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

.cardImg{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cardOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlayImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.card:hover .cardOverlay {
  opacity: 1;
}

.divider {
  width: 20%;
  padding-bottom: 1rem;
}
